
  <div>
    <label for="einkommen">
      Einkommen  
    </label>
    <input id="einkommen" type="text" formControlName="einkommen">
  </div>


  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Gesellschaftsform</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Einzelunternehmen</button>
          <button ngbDropdownItem>OG</button>
          <button ngbDropdownItem>KG</button>
          <button ngbDropdownItem>GmbH</button>
          <button ngbDropdownItem>AG</button>
        </div>
      </div>
    </div>
<!--bis hier läufts!--> 

    